

.about {
    // background-color: #d4d4cd;
    color: #212121;
    padding: 50px 0;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #212121;
}